@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <header class="text-center">
        <h1 class="display-4">Core5 Razor Pages</h1>
        <h1> izzy></h1>
        <br />
        <h2>by @Model.FullName</h2>
    </header>
    <form method="post" class="mx-auto" style="width:200px">
        <p class="col-sm-4">
            <label for="name">Name</label>
            <input type="text" placeholder="Full Name" required="required" asp-for="FullName">
        </p>
        <p class="col-sm-4">
            <label for="email">Email</label>
            <input type="email" placeholder="e.g. johndoe@gmail.com" pattern="^[a-zA-Z0-9._+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$" required>
        </p>
        <p class="col-sm-2">
            <button type="submit" class="btn btn-primary">
            Register
            </button>
        </p>
        <p class="col-sm-12">
            @ViewData["Message"]
        </p>
    </form>
</div>

    <!--<form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>-->

